{% load staticfiles %}
<html>
    <head>
        <title>libvirt upstream patch list</title>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css" href="{% static "web.css" %}"/>
       	<link rel="stylesheet" href="http://fabien-d.github.io/alertify.js/assets/js/lib/alertify/alertify.core.css" />
        <link rel="stylesheet" href="http://fabien-d.github.io/alertify.js/assets/js/lib/alertify/alertify.default.css" id="toggleCSS" />
		<script src="http://fabien-d.github.io/alertify.js/assets/js/lib/alertify/alertify.min.js"></script>
    </head>
    <body>
        <script>
            function changegroup( osel, link, group, id ) {
                var table = $('#sortable-table').dataTable();
                var newgroup = osel.options[osel.selectedIndex].text;
                var r = alertify.confirm('Update group from '+group+' to '+newgroup+' ?', function (e) {
                    if (e) {
                        $.post(
                            "updategroup",
                            {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'link': link,
                                'newgroup': newgroup,
                                'oldgroup': group,
                            },
                            function ( response ) {
                                if (response.ret == 0) {
                                    alertify.alert("Updated success");
                                    table.fnUpdate(newgroup, id, 3, false);
                                }
                                else {
                                    alertify.alert("Updated failed: group already been updated");
                                }
                            }
                        );
                    }
                    else {
                        return
                    }
                } );
            }
            function changetestcase(x, link, testcase, id ) {
                var table = $('#sortable-table').dataTable();
                var value = x.value
                if (value == testcase) {
                    return
                }
                alertify.confirm('Update testcase from '+testcase+' to '+value+' ?',function(evt) {
                    if (evt) {
                        $.post(
                            "updatetestcase",
                            {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'link': link,
                                'newtestcase': value,
                                'oldtestcase': testcase,
                            },
                            function ( response ) {
                                if (response.ret == 0) {
                                    alertify.alert("Updated success");
                                    table.fnUpdate(value, id, 8, false );
                                }
                                else {
                                    alertify.alert("Updated failed: testcase already been updated");
                                }
                            }
                        );
                    }
                });
            }
            function changebuglink(x, link, bug, id ) {
                var table = $('#sortable-table').dataTable();
                var value = x.value
                if (value == bug) {
                    return
                }
                alertify.confirm('Update buglink from '+bug+' to '+value+' ?',function(evt) {
                    if (evt) {
                        $.post(
                            "updatebuglink",
                            {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'link': link,
                                'newbuglink': value,
                                'oldbuglink': bug,
                            },
                            function ( response ) {
                                if (response.ret == 0) {
                                    alertify.alert("Updated success");
                                    if (value == "") {
                                        table.fnUpdate("N/A", id, 5, false );
                                    } else {
                                        table.fnUpdate(value, id, 5, false );
                                    }
                                }
                                else {
                                    alertify.alert("Updated failed: buglink already been updated");
                                }
                            }
                        );
                    }
                });
            }
            function changecomment(x, link, comment ) {
                var table = $('#sortable-table').dataTable();
                var value = x.value
                if (value == comment) {
                    return
                }
                $.post(
                    "updatecomment",
                    {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'link': link,
                        'newcomment': value,
                        'oldcomment': comment,
                    },
                    function ( response ) {
                        if (response.ret == 0) {
                        }
                        else {
                            alertify.alert("Updated failed: comment already been updated");
                        }
                    }
                );
            }
            function changetestby(x, link, testby, id ) {
                var table = $('#sortable-table').dataTable();
                var value = x.value
                if (value == testby) {
                    return
                }
                alertify.confirm('Update testby from '+testby+' to '+value+' ?',function(evt) {
                    if (evt) {
                        $.post(
                            "updatetestby",
                            {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'link': link,
                                'newtestby': value,
                                'oldtestby': testby,
                            },
                            function ( response ) {
                                if (response.ret == 0) {
                                    alertify.alert("Updated success");
                                    table.fnUpdate(value, id, 10, false );
                                }
                                else {
                                    alertify.alert("Updated failed: testby already been updated");
                                }
                            }
                        );
                    }
                });
            }
            function changestate( osel, link, state, id ) {
                var table = $('#sortable-table').dataTable();
                var newstate = osel.options[osel.selectedIndex].text;
                var r = alertify.confirm('Update group from '+state+' to '+newstate+' ?', function (e) {
                    if (e) {
                        $.post(
                            "updatestate",
                            {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'link': link,
                                'newstate': newstate,
                                'oldstate': state,
                            },
                            function ( response ) {
                                if (response.ret == 0) {
                                    alertify.alert("Updated success");
                                    table.fnUpdate(newstate, id, 11, false );
                                }
                                else {
                                    alertify.alert("Updated failed: state already been updated");
                                }
                            }
                        );
                    }
                    else {
                        return
                    }
                });
            }
            function changepushed( osel, link, pushed, id ) {
                var table = $('#sortable-table').dataTable();
                var newpushed = osel.options[osel.selectedIndex].text;
                var r = alertify.confirm('Update pushed status from '+pushed+' to '+newpushed+' ?', function (e) {
                    if (e) {
                        $.post(
                            "updatepushed",
                            {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'link': link,
                                'newpushed': newpushed,
                                'oldpushed': pushed,
                            },
                            function ( response ) {
                                if (response.ret == 0) {
                                    alertify.alert("Updated success");
                                    table.fnUpdate(newpushed, id, 4, false );
                                }
                                else {
                                    alertify.alert("Updated failed: pushed status already been updated");
                                }
                            }
                        );
                    }
                    else {
                        return
                    }
                });
            }
            function changetestplan( osel, link, testplan, id ) {
                var table = $('#sortable-table').dataTable();
                var newtestplan = osel.options[osel.selectedIndex].text;
                var r = alertify.confirm('Update testplan update status from '+testplan+' to '+newtestplan+' ?', function (e) {
                    if (e) {
                        $.post(
                            "updatetestplan",
                            {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'link': link,
                                'newtestplan': newtestplan,
                                'oldtestplan': testplan,
                            },
                            function ( response ) {
                                if (response.ret == 0) {
                                    alertify.alert("Updated success");
                                    table.fnUpdate(newtestplan, id, 9, false );
                                }
                                else {
                                    alertify.alert("Updated failed: testplan status already been updated");
                                }
                            }
                        );
                    }
                    else {
                        return
                    }
                });
            }
            function changefeature( x, link, feature, id ) {
                var table = $('#sortable-table').dataTable();
                var newfeature = x.value
                if (newfeature == feature) {
                    return
                }
                var r = alertify.confirm('Update feature from '+feature+' to '+newfeature+' ?', function (e) {
                    if (e) {
                        $.post(
                            "updatefeature",
                            {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'link': link,
                                'newfeature': newfeature,
                                'oldfeature': feature,
                            },
                            function ( response ) {
                                if (response.ret == 0) {
                                    alertify.alert("Updated success");
                                    table.fnUpdate(newfeature, id, 6, false );
                                }
                                else {
                                    alertify.alert("Updated failed: feature status already been updated");
                                }
                            }
                        );
                    }
                    else {
                        return
                    }
                });
            }
            function subpatchmanager( x, name ) {
                var targetobj = document.getElementById(name);

                if (targetobj.style.display != "none") {
                    targetobj.style.display="none";
                    x.innerHTML = "open";
                }
                else {
                    targetobj.style.display="block";
                    x.innerHTML = "close";
                }
            }
            function format ( row ) {
                d = row.data();
                id = row.index();
                // `d` is the original data object for the row
                var action = ''
                var action2 = ''
                var action3 = ''
                var action4 = ''
                var comment = ''
                var pushed = ''
                var testplan = ''
                var feature = ''
                var subpatch = ''
                var buglink = ''
                var hidebox = 'hidebox'+d.patchlink;

                $.each(d.subpatch, function(n, value) {
                    subpatch += '<tr>'
                    subpatch += '<td>'+value.name+'</td>'
                    subpatch += '<td><a href="'+value.patchlink+'">link</a></td>'
                    if (value.pushed == "Yes") {
                        subpatch += '<td>pushed</td>'
                    }
                    else {
                        subpatch += '<td>not pushed</td>'
                    }
                    subpatch += '</tr>'
                });
                action += '<select name="group" onChange="changegroup(this, \''+d.patchlink+'\', \''+d.group+'\', \''+id+'\')">'
                $.each(["group1", "group2", "group3", "others"], function(n, value) {
                    action +=   '<option'
                    if (d.group == value) {
                        action += ' selected="selected"';
                    }
                    action +=   ' value="'+value+'">'+value+'</option>'
                });
                action +='</select>'
                action2 +='<input type="text" id="testcase" value="'+d.testcase+'" onblur="changetestcase(this, \''+d.patchlink+'\', \''+d.testcase+'\', \''+id+'\')"/>'
                action3 +='<input type="text" id="testby" value="'+d.testby+'" onblur="changetestby(this, \''+d.patchlink+'\', \''+d.testby+'\', \''+id+'\')"/>'
                action4 += '<select name="state" onChange="changestate(this, \''+d.patchlink+'\', \''+d.state+'\', \''+id+'\')">'
                $.each(["ToDo", "Pass", "NACK", "Fail", "untestable", "pending"], function(n, value) {
                    action4 +=   '<option'
                    if (d.state == value) {
                        action4 += ' selected="selected"';
                    }
                    action4 +=   ' value="'+value+'">'+value+'</option>'
                });
                action4 +='</select>'
                comment +='<textarea id="comment" cols="100" rows="10" onblur="changecomment(this, \''+d.patchlink+'\', \''+d.comment+'\')">'+d.comment+'</textarea>'
                testplan += '<select name="testplan" onChange="changetestplan(this, \''+d.patchlink+'\', \''+d.testplan+'\', \''+id+'\')">'
                $.each(["ToDo", "Done",], function(n, value) {
                    testplan +=   '<option'
                    if (d.testplan == value) {
                        testplan += ' selected="selected"';
                    }
                    testplan +=   ' value="'+value+'">'+value+'</option>'
                });
                testplan +='</select>'
                pushed += '<select name="pushed" onChange="changepushed(this, \''+d.patchlink+'\', \''+d.pushed+'\', \''+id+'\')">'
                $.each(["Yes", "No",], function(n, value) {
                    pushed +=   '<option'
                    if (d.pushed == value) {
                        pushed += ' selected="selected"';
                    }
                    pushed +=   ' value="'+value+'">'+value+'</option>'
                });
                pushed +='</select>'
                feature +='<input type="text" id="feature" value="'+d.feature+'" onblur="changefeature(this, \''+d.patchlink+'\', \''+d.feature+'\', \''+id+'\')"/>'
                buglink +='<input type="text" id="buglink" size="50" value="'+d.buglink+'" onblur="changebuglink(this, \''+d.patchlink+'\', \''+d.buglink+'\', \''+id+'\')"/>'
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                    '<tbody>'+
                    '<tr>'+
                        '<td>name:</td>'+
                        '<td>'+d.name+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>date:</td>'+
                        '<td>'+d.date+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>author:</td>'+
                        '<td>'+d.author+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>desc:</td>'+
                        '<td><pre>'+d.desc+'</pre></td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>group:</td>'+
                        '<td>'+action+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>bugzilla:</td>'+
                        '<td>'+buglink+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>testcase:</td>'+
                        '<td>'+action2+'</td>'+
                        '<td>update testplan:</td>'+
                        '<td>'+testplan+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>state:</td>'+
                        '<td>'+action4+'</td>'+
                        '<td>pushed:</td>'+
                        '<td>'+pushed+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>test by:</td>'+
                        '<td>'+action3+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>feature:</td>'+
                        '<td>'+feature+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>comment:</td>'+
                        '<td>'+comment+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>subpatch:</td>'+
                        '<td><button onclick="subpatchmanager(this, \''+hidebox+'\')">open</button></td>'+
                    '</tr>'+
                    '</tbody>'+
                '</table>'+
                '<table id="'+hidebox+'" style="padding-left:100px;display:none">'+subpatch+'</table>';
            }

            $(document).ready(function() {
                    var table = $('#sortable-table').DataTable( {
                        "ajax": "data",
                        "columns": [
                            {
                                "className":      'details-control',
                                "orderable":      false,
                                "data":           null,
                                "defaultContent": ''
                            },
                            { 
                                "data": "name",
                            },
                            { 
                                "data": "date",
                            },
                            { "data": "group" },
                            { "data": "pushed" },
                            {
                                "data": "buglink",
                                "render": function( data ) {
                                    if (data == "N/A") {
                                        return '<a>No</a>';
                                    }
                                    else {
                                        return '<a>Yes</a>';
                                    }
                                }
                            },
                            { "data": "feature" },
                            {
                                "data": "patchlink",
                                "render": function( data ) {
                                    return '<a href="'+data+'">link</a>';
                                }
                            },
                            {
                                "data": "testcase",
                                "render": function( data ) {
                                    if (data == "N/A") {
                                        return '<a>N/A</a>';
                                    }
                                    return '<a href="'+data+'">link</a>';
                                }
                            },
                            { "data": "testplan" },
                            { "data": "testby" },
                            { "data": "state" },
                        ],
                        "order": [[ 2, "desc" ]],
                        "initComplete": function () {
                            this.api().columns().every( function () {
                                var column = this;
                                var title = $(column.header()).text();
                                if (title.length == 0 || ['Name', 'patch link', 'testcase', 'date'].indexOf(title) > -1) {
                                    return;
                                }
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo( $(column.footer()).empty() )
                                    .on( 'change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );
                 
                                        column
                                            .search( val ? '^'+val+'$' : '', true, false )
                                            .draw();
                                    } );
                 
                                if (['bugzilla'].indexOf(title) > -1) {
                                    select.append('<option value="Yes">Yes</option>')
                                    select.append('<option value="No">No</option>')
                                    return
                                }
                                column.data().unique().sort().each( function ( d, j ) {
                                    select.append( '<option value="'+d+'">'+d+'</option>' )
                                } );
                            } );
                        }
                    } );

                    $('#sortable-table tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row( tr );
                 
                        if ( row.child.isShown() ) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                        }
                        else {
                            // Open this row
                            row.child( format( row ) ).show();
                            tr.addClass('shown');
                        }
                    } );
            } );
        </script>
        <h3 align='center'>libvirt upstream patch list</h3>
        <table id="sortable-table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>date</th>
                    <th>group info</th>
                    <th>pushed</th>
                    <th>bugzilla</th>
                    <th>feature</th>
                    <th>patch link</th>
                    <th>testcase</th>
                    <th>update testplan</th>
                    <th>test by</th>
                    <th>state</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>date</th>
                    <th>group info</th>
                    <th>pushed</th>
                    <th>bugzilla</th>
                    <th>feature</th>
                    <th>patch link</th>
                    <th>testcase</th>
                    <th>update testplan</th>
                    <th>test by</th>
                    <th>state</th>
                </tr>
            </tfoot>
        </table>
    </body>
</html>
